a {
  text-decoration: none;
  color: #69d2f5;
}

a:hover {
  text-decoration: underline;
  background-color: #2087e888;
}

body {
  margin: 40px auto;
  max-width: 600px;
  line-height: 1.4;
  font-size: 16px;
  color: #333;
  padding: 0 10px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  line-height: 1.3;
  font-weight: 600;
  text-align: center;
}

.container {
  display: flex;
  width: 100%;
}

.intro {
  align-content: center;
}

.bio {
  float: "left";
}

.bio::after {
  content: "";
  display: table;
  clear: both;
}

.profile {
  width: 95%;
  max-width: 100%;
  height: auto;
  float: right;
}

.right_circle {
  float: right;
  border-radius: 50%; /* Makes the image circular */
  margin-left: 10px;  /* Adds some space between the image and any content to its left */
  margin-bottom: 10px; /* Adds some space between the image and any content below it */
  width: 200px;       /* Set the width of the image */
  height: 200px;      /* Set the height of the image */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #444;
    color: #e4e4e4;
  }
  img {
    filter: grayscale(0%);
  }
}
